/* line 1, ../../app/styles/common.scss */
.ease {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  /* ease (default) */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  /* ease (default) */
}

/* line 15, ../../app/styles/common.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* This is the entire scrollbar unit. */
/* line 22, ../../app/styles/common.scss */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* line 26, ../../app/styles/common.scss */
::-webkit-scrollbar-corner {
  background: #F3F3F3;
}

/* line 29, ../../app/styles/common.scss */
::-webkit-scrollbar-button {
  background: transparent;
  display: none;
  height: 0px;
}

/* line 34, ../../app/styles/common.scss */
::-webkit-scrollbar-track {
  background: #F3F3F3;
  box-shadow: inset 1px 1px 7px gray;
  border-radius: 5px;
}

/* line 39, ../../app/styles/common.scss */
::-webkit-scrollbar-thumb {
  background-color: #333;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  height: 8px;
  border-radius: 3px;
}

/* line 45, ../../app/styles/common.scss */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* end of scrollbar */
/* line 49, ../../app/styles/common.scss */
.module {
  height: 100%;
}
